#inputs {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  position: relative;
}

label:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 10px;
}

#bill-label:before {
  background: url('/images/icon-dollar.svg') center / contain no-repeat;
}

#num-people-label:before {
  background: url('/images/icon-person.svg') center / contain no-repeat;
}

.main-input {
  width: 100%;
  padding: 8px 16px;
  background-color: hsl(189, 41%, 97%);
  border: none;
  border-radius: 5px;
  color: hsl(183, 100%, 15%);
  font-family: inherit;
  font-size: 20px;
  text-align: right;
}

.main-input::placeholder {
  color: hsl(184, 14%, 56%);
}

.main-input:focus,
#custom:focus {
  outline-color: hsl(172, 67%, 45%);
}

.input-label {
  font-size: 16px;
  color: hsl(186, 14%, 43%);
  margin-bottom: 10px;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.tip-percentage {
  font-size: 20px;
  font-family: inherit;
  border: none;
  padding: 5px 1rem;
  border-radius: 5px;
}

.btn {
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
}

#custom {
  width: 100%;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  text-align: right;
}

#custom::placeholder {
  text-align: center;
  color: hsl(186, 14%, 43%);
}
